# Reading from mySQL

In [1]:
library(DBI)

### Example 
Found on: https://blog.rstudio.org/2015/01/09/rmysql-0-1-0/

```r
con <- dbConnect(RMySQL::MySQL(),
                 username = "public",
                 password = "F60RUsyiG579PeKdCH",
                 host = "173.194.227.144",
                 port = 3306,
                 dbname = "datasets"
)
```

In [2]:
# Connecting to the Genome database at UCSC
ucscDb <- dbConnect(RMySQL::MySQL(),
                    user = "genome",
                    host = "genome-mysql.cse.ucsc.edu")

result <- dbGetQuery(ucscDb, "show databases;")
dbDisconnect(ucscDb)

result

[1] TRUE

              Database
1   information_schema
2              ailMel1
3              allMis1
4              anoCar1
5              anoCar2
6              anoGam1
7              apiMel1
8              apiMel2
9              aplCal1
10             aptMan1
11             balAcu1
12             bosTau2
13             bosTau3
14             bosTau4
15             bosTau5
16             bosTau6
17             bosTau7
18             bosTau8
19           bosTauMd3
20             braFlo1
21             caeJap1
22              caePb1
23              caePb2
24             caeRem2
25             caeRem3
26             calJac1
27             calJac3
28             calMil1
29             canFam1
30             canFam2
...                ...
194            sorAra1
195            sorAra2
196           sp120323
197           sp121210
198           sp140122
199           sp150225
200           sp160229
201            speTri2
202            strPur1
203            strPur2
204            susScr2
205            susScr3
206            taeGut1
207            taeGut2
208            tarSyr1
209            tarSyr2
210               test
211            tetNig1
212            tetNig2
213            triMan1
214            tupBel1
215            turTru2
216            uniProt
217            vicPac1
218            vicPac2
219           visiGene
220            xenTro1
221            xenTro2
222            xenTro3
223            xenTro7

In [3]:
## Connecting to hg19 and listing tables

In [17]:
hg19 <- dbConnect(RMySQL::MySQL(), user = "genome", db = "hg19",
                  host = "genome-mysql.cse.ucsc.edu")

allTables <- dbListTables(hg19)

In [19]:
length(allTables)

[1] 11047

In [20]:
allTables[1:5]

[1] "HInv"         "HInvGeneMrna" "acembly"      "acemblyClass" "acemblyPep"

In [21]:
dbListFields(hg19, "affyU133Plus2")

 [1] "bin"         "matches"     "misMatches"  "repMatches"  "nCount"
 [6] "qNumInsert"  "qBaseInsert" "tNumInsert"  "tBaseInsert" "strand"
[11] "qName"       "qSize"       "qStart"      "qEnd"        "tName"
[16] "tSize"       "tStart"      "tEnd"        "blockCount"  "blockSizes"
[21] "qStarts"     "tStarts"

In [22]:
# Number of rows in table
dbGetQuery(hg19, "SELECT COUNT(*) FROM affyU133Plus2")

  COUNT(*)
1    58463

In [23]:
suppressWarnings(affyData <- dbReadTable(hg19, "affyU133Plus2"))

# Use suppressWarnings to remove the warning

In [24]:
head(affyData)

  bin matches misMatches repMatches nCount qNumInsert qBaseInsert tNumInsert
1 585     530          4          0     23          3          41          3
2 585    3355         17          0    109          9          67          9
3 585    4156         14          0     83         16          18          2
4 585    4667          9          0     68         21          42          3
5 585    5180         14          0    167         10          38          1
6 585     468          5          0     14          0           0          0
  tBaseInsert strand ... qStart qEnd tName     tSize tStart  tEnd blockCount
1         898      - ...      5  603  chr1 249250621  14361 15816          5
2       11621      - ...      0 3548  chr1 249250621  14381 29483         17
3          93      - ...      3 4274  chr1 249250621  14399 18745         18
4        5743      - ...     48 4834  chr1 249250621  14406 24893         23
5          29      - ...      0 5399  chr1 249250621  19688 25078         11
6           0      - ...      0  487  chr1 249250621  27542 28029          1
                                                                  blockSizes
1                                                          93,144,229,70,21,
2              73,375,71,165,303,360,198,661,201,1,260,250,74,73,98,155,163,
3                 690,10,32,33,376,4,5,15,5,11,7,41,277,859,141,51,443,1253,
4 99,352,286,24,49,14,6,5,8,149,14,44,98,12,10,355,837,59,8,1500,133,624,58,
5                                       131,26,1300,6,4,11,4,7,358,3359,155,
6                                                                       487,
                                                                                                 qStarts
1                                                                                    34,132,278,541,611,
2                        87,165,540,647,818,1123,1484,1682,2343,2545,2546,2808,3058,3133,3206,3317,3472,
3                   44,735,746,779,813,1190,1195,1201,1217,1223,1235,1243,1285,1564,2423,2565,2617,3062,
4 0,99,452,739,764,814,829,836,842,851,1001,1016,1061,1160,1173,1184,1540,2381,2441,2450,3951,4103,4728,
5                                                     0,132,159,1460,1467,1472,1484,1489,1497,1856,5244,
6                                                                                                     0,
                                                                                                                                     tStarts
1                                                                                                             14361,14454,14599,14968,15795,
2                                     14381,14454,14969,15075,15240,15543,15903,16104,16853,17054,17232,17492,17914,17988,18267,24736,29320,
3                               14399,15089,15099,15131,15164,15540,15544,15549,15564,15569,15580,15587,15628,15906,16857,16998,17049,17492,
4 14406,20227,20579,20865,20889,20938,20952,20958,20963,20971,21120,21134,21178,21276,21288,21298,21653,22492,22551,22559,24059,24211,24835,
5                                                                         19688,19819,19845,21145,21151,21155,21166,21170,21177,21535,24923,
6                                                                                                                                     27542,

In [11]:
str(affyData)

ERROR: Error in str(affyData): object 'affyData' not found

### Select a specific subset

In [12]:
query <- dbSendQuery(hg19, "SELECT * FROM affyU133Plus2 WHERE misMatches BETWEEN 1 AND 3")

ERROR: Error in .local(conn, statement, ...): connection with pending rows, close resultSet before continuing

In [13]:
affyMis <- fetch(query)
quantile(affyMis$misMatches)

ERROR: Error in fetch(query): object 'query' not found

In [14]:
dbDisconnect(hg19)

Warning message:
: Closing open result sets

[1] TRUE